<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"/>

    <title><%= htmlWebpackPlugin.options.title %></title>

    <style>
        body {
            margin: 0px; /*This removes the border around the canvas that Phaser adds, making the game actually take up all the available space*/
        }

    </style>
</head>
<body>
</body>
</html>
